@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a href="Student/Index">Open Student by Href</a> <br />
    <a asp-controller="Student" asp-action="Index">Open Student by ASP</a>
</div>
